<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/forgot-passwd.css">
    <title>Forgot Password</title>
    <style>
  .lgn-btn{
  text-align: center;

    margin: 0.5em 0em;
    width: 200px;
    background-color:#ff7200;
    border: 1px solid lightgray;
    padding: 0.5em 0em;
    border-radius: 0.5em;
    cursor: pointer;
 }
 
    </style>
</head>
<body>
    <div class="container">
        <h2>Forgot Password</h2>
        <form action="/forgetpassword" method="POST">
        <div class="row">
            <div class="col ">
          <input type="email" id="email" name="email" placeholder="Email" required>
        </div>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            {{ messages[0] }}
        {% endif %}
        {% endwith %}
          <div class="row">
            <div class="col ">
                <input class="lgn-btn" type="submit" value="Reset Password">
            </div>
            
        </div>
        </form>
        <form action="/" method="GEt">
          <div class="row">
              <div class="col ">
          <input type="submit" class="lgn-btn" value="back">
          </div>
          </div>
        </form>
    </div>
</body>
</html>